/node_modules

# next.js
/.next/
/out/
/build

# fuck this file
.DS_Store

# logs
*log*

# local env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# latex
*.fls
*.log
*.out
*.aux
*.synctex*
*.fdb*
*.bbl
*.bcf
*.blg
*.run.xml
